.roles_table{
  text-align: center;
  border-spacing: 2px;
}

.roles_table_body{

}

.tab_header{
  width: 100%;
  text-align: center;
}

.roles_table_body tr:nth-child(odd){
  background-color: #d5d5d5
}
